@model GeoMusicSiteClient.Models.DBModel.Record
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-8">
            <h1 class="page-header">
                Admin Panel
            </h1>

            @using (Html.BeginForm("Records", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <fieldset>
                    <legend>Records</legend>
                    @Html.DisplayNameFor(model => model.Title)
                    @Html.EditorFor(model => model.Title)
                    <br>
                    @Html.DisplayNameFor(model => model.Artist)
                    @Html.EditorFor(model => model.Artist)
                    <br>
                    @Html.DisplayNameFor(model => model.Description)
                    @Html.EditorFor(model => model.Description)
                    <br>
                    @Html.DisplayNameFor(model => model.Url)
                    @Html.EditorFor(model => model.Url)
                    <br>
                    @Html.DisplayNameFor(model => model.Lat)
                    @Html.EditorFor(model => model.Lat)
                    <br>                    
                    @Html.DisplayNameFor(model => model.Long)
                    @Html.EditorFor(model => model.Long)
                    <br>
                    @Html.DisplayNameFor(model => model.Image)
                    @Html.Display("Image")
                    <input type="file" name="recordImage">
                    <br>
                    <input type="submit" value="Add">
                </fieldset>
            }
            <table>
                <tr>
                    <th>
                        Название
                    </th>
                    <th>
                        Автор
                    </th>
                    <th>
                        Описание
                    </th>
                    <th>
                        Дата добавления
                    </th>
                    <th>
                        Изображение
                    </th>
                    <th>
                        URL
                    </th>
                    <th>
                        Latitude
                    </th>
                    <th>
                        Longitude
                    </th>
                    <th>

                    </th>

                </tr>

                @foreach (var record in ViewBag.Records)
                {
                    <tr>
                        <td>
                            @record.Title    |
                        </td>
                        <td>
                            @record.Artist    |
                        </td>
                        <td>
                            @record.Description    |
                        </td>
                        <td>
                            @record.AddDate |
                        </td>
                        <td>
                            @record.Image    |
                        </td>
                        <td>
                            @record.Url       |
                        </td>
                        <td>
                            @record.Lat    |
                        </td>
                        <td>
                            @record.Long    |
                        </td>
                        <td>
                            @Html.ActionLink("Редактировании", "Edit", new { id = record.id }) |
                            @Html.ActionLink("Удалить", "Delete", new { id = record.id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <!-- /.row -->
</div>